fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-jose[cryptography]
pwdlib[bcrypt]
python-multipart
asyncpg
email-validator
pydantic[email]
pre-commit
redis[hiredis]
fastapi-limiter>=0.2.0

pytest
pytest-asyncio
pytest-cov
testcontainers[postgres]
testcontainers[redis]
httpx
